<!DOCTYPE html>
<head>
    <title>Post view</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
        <h1 id="header">Example heading <span class="badge badge-secondary">New Post</span></h1>
    <form id ="Form">
        <div class="form-group">
          <label for="exampleFormControlInput1">Post title</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Post Title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Reading Time</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Approximate reading time">
          </div>
        
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Post text</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
          placeholder="Enter Your Post Details here"></textarea>
        </div>
        
      </form>
     
</body>